
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rich Cuisine</title>
    <link rel="stylesheet" href="static/style2.css">
</head>
<body>
    <div class="container">
        <h1>PyNutriCare</h1>
        <div class="navbar">
            <ul>

                <li><a href="{{url_for('admin_login')}}">Admin</a></li>
                <li><a href="{{url_for('login')}}">User</a></li>


            </ul>
        </div>
    </div>
    <div class="content">
        <h3>Welcome to PyNutriCare</h3>
        <h1>Nutrition Management System</h1>
        <p>PyNutriCare is an innovative designed to empower individuals in making informed dietary choices and<br>
           to assist healthcare professionals.</p>
    </div>


</body>
</html>